[submodule "Ralph/AgrimSingh.Ralph-Wiggum-Cursor"]
  path = Ralph/AgrimSingh.Ralph-Wiggum-Cursor
  url = git@github.com:AgrimSingh/Ralph-Wiggum-Cursor

[submodule "Ralph/FrankBria.Ralph-Claude-Code"]
  path = .submodules/Ralph/FrankBria.Ralph-Claude-Code
  url = git@github.com:FrankBria/Ralph-Claude-Code

[submodule "Ralph/SnarkTank.Ralph"]
  path = .submodules/Ralph/SnarkTank.Ralph
  url = git@github.com:SnarkTank/Ralph
